E:\FlutterProjects\ChecklistApp\checklistapp\.dart_tool
E:\FlutterProjects\ChecklistApp\checklistapp\.idea
E:\FlutterProjects\ChecklistApp\checklistapp\build
E:\FlutterProjects\ChecklistApp\jsbackend\generated
E:\FlutterProjects\ChecklistApp\jsbackend\node_modules
E:\FlutterProjects\ChecklistApp\jsbackend\dist
E:\FlutterProjects\ChecklistApp\jsbackend\key\localhost-cert.pem
E:\FlutterProjects\ChecklistApp\jsbackend\key\localhost-key.pem
