checklistapp/.dart_tool
checklistapp/.idea
checklistapp/build
jsbackend/.env
jsbackend/node_modules
jsbackend/dist
jsbackend/key/localhost-cert.pem
jsbackend/key/localhost-key.pem
springversion/application.properties
springversion/jooq_generator
netversion/obj
netversion/bin/Debug/net7.0
!netversion/bin/Debug/appsettings.json
!netversion/bin/Debug/appsettings.Development.json
jsbackend/.env
.vscode/launch.json
.vscode/settings.json
netversion/bin/Debug/net7.0/appsettings.Development.json
netversion/appsettings.json
netversion/appsettings.Development.json
springversion/src/main/resources/application.properties
springversion/src/main/resources/applications.yml