checklistapp/.dart_tool
checklistapp/.idea
checklistapp/build
jsbackend/.env
jsbackend/node_modules
jsbackend/dist
jsbackend/key/localhost-cert.pem
jsbackend/key/localhost-key.pem
springversion/application.properties
springversion/jooq_generator
netversion/obj
netversion/bin/Debug/net7.0
!netversion/bin/Debug/appsettings.json
!netversion/bin/Debug/appsettings.Development.json
jsbackend/.env